.workout {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    background-color: rgb(45, 44, 44);
    color: white;
    text-align: center;
}
h1.workout{
    -webkit-text-stroke: 1px var(--col1);
    color: transparent;
    font-size: 7.5em;
    font-weight: 900;
}

.workout__exercises{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.workout__exercise{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.workout__exercise--reverse{
    flex-direction: row-reverse;
}

.workout__exercise__image img{
    height: auto;
    width: 300px;
}

.workout__exercise__content{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-left: 20px;
}

.workout__exercise--reverse .workout__exercise__content{
    text-align: right;
    align-items: flex-end;
}

.workout__exercise__content h2{
    -webkit-text-stroke: 1px var(--col1);
    color: transparent;
    font-size: 50px;
    font-weight: 900;
}

.workout__exercise__content span{
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    background-color: var(--col1);
    border-radius: 35px;
    padding: 5px 20px;
    width: fit-content;
}

.workout__exercise__content p{
    font-size: 20px;
    font-weight: 300;
    color: rgb(237, 217, 33);
}

.workout__exercises h3{
    --webkit-text-stroke: 1px rgb(237, 217, 33);
    color: rgb(237, 217, 33);
    font-size: 7.5rem;
    font-weight: 900;
    text-align: center;
    border: 1px solid var(--col1);
    width: 10rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}